.ui.menu .item .header {
    max-width: 20em;
}

.ui.button.white {
    color: black;
    background: #fff;
}

.survey-list .item {
    position: relative;
}

.survey-list .item .meta {
    position: absolute;
    right: 0;
    top: .5em
}
